export CCNET_CONF_DIR=/home/plt/dev/ccnet/wingufile/tests/basic/conf2
export WINGUFILE_CONF_DIR=/home/plt/dev/ccnet/wingufile/tests/basic/conf2/wingufile-data
export PYTHONPATH=/opt/lib/python2.6/site-packages:thirdpart:$PYTHONPATH
